#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid lightgrey;
}

thead {
  background-color: dodgerblue;
  color: white;
}

th, td{
  border: 1px solid lightgrey;
}

td {
  > button {
    margin: 0 2px;
  }
}